body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* remove underscore from all links */
a {
  text-decoration: none;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: larger;
}

.App {
  display: flex;
  /* width: 100%; */
  background-image: url("https://source.unsplash.com/G66K_ERZRhM");
  /* background-position: center; */
  background-attachment: fixed;
}

.home-wrapper > p {
  margin: 0 1em 4em 1em;
}

.home-wrapper > img {
  width: 80%;
}

.topmenu-wrapper {
  /* display: flex; */
  width: 100%;
  height: 8em;
  top: 5px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  position: sticky;
  background: hsla(240, 60%, 88%, 1);
  box-shadow: 1px 15px 11px -9px rgb(0 0 255 / 17%);
  transition: all 1s;
}

/* the 'hide' and 'show' is part of menu hiding (elementHider.js) by scrolling */
.hide {
  opacity: 0;
  left: -100%;
}
.show {
  opacity: 1;
  left: 0;
}

.topmenu-wrapper > img {
  width: 13vh;
  min-width: 47%;
  margin: 1vh 0 0 20%;
  border-radius: 20px;
}

.topmenu-links {
  margin-top: 4em;
  grid-column-start: 2;
  grid-column-end: 4;
  font-family: "Merienda", serif;
  font-size: large;
}

.topmenu-links > a {
  margin-left: 1em;
}

.topmenu-icons {
  grid-column-start: 4;
  grid-column-end: 5;
  display: grid;
  justify-content: end;
  margin: 1vh 3em 0 0;
}

.mainpage-wrapper {
  width: 80%;
  background-color: #f0f8ffe6;
  margin-left: 2.5%;
}

.sidemenu-wrapper {
  top: 0px;
  width: 15%;
  height: 94vh;

  position: sticky;
  box-shadow: 9px 2px 11px -6px rgb(0 0 255 / 33%);

  background: hsla(195, 100%, 89%, 1) 100%;

  background: linear-gradient(
    90deg,
    hsla(240, 60%, 88%, 1) 0%,
    hsla(195, 100%, 89%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(240, 60%, 88%, 1) 0%,
    hsla(195, 100%, 89%, 1) 100%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(240, 60%, 88%, 1) 0%,
    hsla(195, 100%, 89%, 1) 100%
  );
}

.sidemenu-wrapper > img {
  width: 75%;
  margin-top: 4em;
  border-radius: 20px;
}

.sidemenu-links {
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  font-family: "Merienda", serif;
  font-size: large;
}

.sidemenu-links > a {
  margin: 1em 0 1em 0;
}

.sidemenu-icons {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  /* position: absolute; */
  /* display: block; */
  position: absolute;
  bottom: 1vh;
  /* margin-left: 1vw; */
  width: initial;
}

.sidemenu-icons > i {
  margin: 0 3px 0 3px;
  width: 25%;
}

.projectlist-wrapper {
  /* flex-direction: column; */
  width: 90%;
  height: 100%;
  /* border-left: 2px solid; */
  /* margin-right: -80em; */
  margin-left: 5%;
}

.project {
  /* display: flex; */
  width: 95%;
  margin-left: 1em;
  /* height: 5em; */
  /* border-left: 2px solid; */
  border-bottom: 2px solid;
  /* background-color: lightblue; */
}

.project > i {
  margin: 0 5px 0.5em 5px;
}

.project-content {
  margin: 1em;
}

.project-content > img {
  float: left;
  /* height: 20vh; */
  max-width: 25%;
  max-height: 5vh;
  object-fit: contain;
}

.project-content::after {
  content: "... Read more ->";
  color: lightslategray;
}

.project-page {
  width: 100%;
  margin-top: 2em;
}

.project-page > img {
  width: 50%;
}

.project-page-content {
  margin: 0 0.5em 0 0.5em;
}

.project-page-content > i {
  margin-left: 0.5em;
}

.project-page-urls {
  display: grid;
  justify-content: center;
  margin: 1em 1em;
}

.about-wrapper {
  width: 100%;
  /* margin-left: 4em; */
}

.about-wrapper > p {
  margin: 0 1em 0 1em;
  font-family: "Playfair Display", serif;
  font-size: large;
}

@media screen and (max-width: 840px) {
  .App {
    flex-direction: column;
  }

  .topmenu-wrapper > img {
    height: 12vh;
  }

  .sidemenu-wrapper {
    display: none;
  }
  .mainpage-wrapper {
    width: 90%;
    margin-left: 5%;
  }
  .project-content > img {
    /* float: none; */
    width: 90%;
    max-height: 18vh;
    max-width: 8vh;
    /* min-height: 4hv; */
  }
}

@media screen and (min-width: 840px) {
  .topmenu-wrapper {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .topmenu-wrapper {
    /* display: none; */
    /* grid-template-columns: 25% 25% 25% 25%; */
  }

  .topmenu-links {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
}
